# Created by https://www.gitignore.io/api/executable
# Edit at https://www.gitignore.io/?templates=executable

### Executable ###
*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf

## Schematics
*.SchDocPreview

# End of https://www.gitignore.io/api/executable
sim-data/.vscode/settings.json

# Misc
*.DS_Store
*.vscode
